---
---

{{reference}}
{{link}}
{% if link %}[<a href="{{link}}">PDF</a>]{% endif %}
{% if entry.online %}[<a href="{{entry.online}}">Online</a>]{% endif %}
[<a data-toggle="collapse" onClick="toggleBibtex{{key}}(); return false;">BibTeX</a>]
<div id="a{{key}}" style="display: none;">
    <pre>{{entry.bibtex}}</pre>
</div>
<script>
    function toggleBibtex{{entry.key}}(parameter) {
        var x= document.getElementById('a{{entry.key}}');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>